@model WebApplication3.Models.Tichet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tichet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriereTichet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriereTichet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnpStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnpStudentNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdministratorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdministratorNavigation.Nume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTichet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
